<?xml version="1.0"?>
<config>
    <modules>
        <TT_Shipping>
            <version>0.0.1</version>
        </TT_Shipping>
    </modules>
    <global>
        <models>
            <tt_shipping>
                <class>TT_Shipping_Model</class>
            </tt_shipping>
        </models>
    </global>
    <default>
        <carriers>
            <TT_shipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>tt_shipping/carrier</model>
                <title>TT Shipping Carrier</title>
                <sort_order>10</sort_order>
            </TT_shipping>
        </carriers>
    </default>
</config>